{{ define "page" }}
<article class="container">
  {{ if ne .Kind "home" }}
  <a href="{{ .Site.Home.RelPermalink }}">Home</a>
  {{ end }}
  <h1>{{ .Title }}</h1>
  {{ partial "header/site-intro.html" . }}
  {{ range .Sections }}
  <div class="container">
    <ul class="post-list">
        {{ with .Site.GetPage "/projects" }}
            {{ range .Pages }}
                <li class="post-entry" data-title="{{ .Title }}">
                    <a href="{{ .RelPermalink }}">
                        <div class="organic-shape" id="shape-{{ .File.UniqueID }}">
                            <!-- SVG will be injected here by JavaScript -->
                        </div>
                        <div class="post-content">
                            <!-- <a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a> -->
                            <p class="post-title">{{ .Title }}</p>
                            <p class="post-subtitle">{{ .Params.subtitle }}</p>
                        </div>
                    </a>
                
                </li>
            {{ end }}
        {{ end }}
      </ul>
  </div>
  {{ end }}
</article>
{{ end }}